.TestPage{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    margin: 0px;
}

.Grades{
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    justify-content: center
}
.Grades > h1{
    margin: 0px
}
